@model IEnumerable<Championship_Internal_Front.Models.User>

@{
    ViewData["Title"] = "RefereeList";
}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          <h1></h1>
          <p></p>
            <h1>Árbitros</h1>
            <div align="left">
               <a asp-controller="ApiUser" asp-action="AddReferee" class="btn btn-success">Criar Nova Conta de Árbitro</a>
           </div>
          </div>
          @*<div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Contacts</li>
            </ol>
          </div>*@
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <form>

        <div class="row">
      @foreach (var item in Model)
      {
        
            <div class=" mb-2 col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-2">
                  <b>Nome do Árbitro: </b>@Html.DisplayFor(modelItem => item.Name)
                </div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                       <p class=" mt-2 text-muted text-sm"><b>Idade: </b> @Html.DisplayFor(modelItem => item.Age) </p>
                       <p class=" mt-2 text-muted text-sm"><b>Email: </b> @Html.DisplayFor(modelItem => item.Email) </p>

                      
                    @*<ul class="ml-4 mb-10 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
                        <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
                      </ul>*@
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <form>
                  <div class="text-right">
                   <input type="text" Name="idReferee" hidden="hidden" class="form-control" value="@Html.DisplayFor(modelItem => item.Id)">
                    @if(@ViewBag.Id != null)
                      {
                        <input type="text" Name="idMatch" hidden="hidden" class="form-control" value="@ViewBag.Id">
                        <input asp-controller="ApiUser" asp-action="EnlistReferee" type="submit" value="Adicionar ao Campeonato" class="btn btn-warning">
                      }
                    else
                    {
                        <input asp-controller="ApiUser" asp-action="DeleteUser" type="submit" value="Deletar Árbitro" class="btn btn-danger">
                    }
                      
                    
                  </div>
                  </form>
                </div>
              </div>
            </div>
          
      }
      </div>
      </form>
        <!-- /.card-body -->
     
        <!-- /.card-footer -->
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  @*<style>
    .mb-2 {
        margin-bottom: 5px;
    }
  </style>*@
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
