@model Championship_Internal_Front.Models.NewChampionship

@{
    ViewData["Title"] = "EditChampionship";
}

<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-1">
                <h3 class="mb-3">Edição do Campeonato</h3>
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form asp-controller="ApiChampionship" asp-action="SubmitChampionship" class="row g-4">
                                    <div class="col-12">
                                        <label>Title<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <input asp-for="Id" hidden="hidden" class="form-control" />
                                            <div class="input-group-text"><i class="bi bi-trophy"></i></div>
                                            <input asp-for="Title" type="text" Name="Title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Descrição<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-card-text"></i></div>
                                            <textarea type="text" Name="Description" class="form-control" rows="4">@Html.DisplayFor(modelItem => Model.Description)</textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label>Data de Início<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="bi bi-calendar" ></i></div>
                                            <input input type="text" Name="StartDate" class="form-control" value="@Html.DisplayFor(modelItem => Model.StartDate)">
                                            <input hidden="hidden" type="text" Name="TotalPhases" class="form-control" value="@Html.DisplayFor(modelItem => Model.TotalPhases)">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" value="SubmitChampionship" class="btn btn-success px-4 float-end mt-4">Confirmar Edição</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    a {
        text-decoration: none;
    }

    .login-page {
        width: 100%;
        height: 100vh;
        display: inline-block;
        display: flex;
        align-items: center;
    }

    .form-right i {
        font-size: 100px;
    }
</style>

@*<!-- Main content -->
<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1></h1>
        <p></p>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edição do Campeonato</h3>
          </div>
          <div class="card-body">
            <form asp-controller="ApiChampionship" asp-action="SubmitChampionship">
              <div class="form-group">
                <input type="text" Name="id" hidden="hidden"  class="form-control" value="@Html.DisplayFor(modelItem => Model.Id)">
              </div>
              <div class="form-group">
                <label for="inputTitulo">Título</label>
                <input type="text" Name="Title"  class="form-control" value="@Html.DisplayFor(modelItem => Model.Title)">
              </div>
              <div class="form-group">
                <label for="inputDescricao">Descrição</label>
                <textarea type="text" Name="Description" class="form-control" rows="4"> @Html.DisplayFor(modelItem => Model.Description)</textarea>
              </div>
              <!-- Date and time -->
              <div class="form-group">
                 <label for="dataInicio">Data de início</label>
                <div class="input-group date" id="datainicio">
                  <input type="text" Name="StartDate" class="form-control datetimepicker-input"  value="@Html.DisplayFor(modelItem => Model.StartDate)" >
                </div>
              </div>
              <div class="form-group">
                <label for="Fases">Quantidade de fases</label>
                <input type="text" Name="TotalPhases" class="form-control" value="@Html.DisplayFor(modelItem => Model.TotalPhases)">
              </div>
              <div class="row">
                <div class="col-12" align="right">
                  <a href="#" class="btn btn-secondary">Cancelar</a>
                  <button type="submit"  class="btn btn-success">Editar Campeonato</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
        <!-- /.card -->
    </div>
  </div>
</section>*@
