@model Championship_Internal_Front.Models.NewChampionship

@{
    ViewData["Title"] = "EditChampionship";
}


<!-- Main content -->
<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1></h1>
        <p></p>
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Edição do Campeonato</h3>
            @*<div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>*@
          </div>
          <div class="card-body">
            <form asp-controller="ApiChampionship" asp-action="SubmitChampionship">
              <div class="form-group">
                <input type="text" Name="id" hidden="hidden"  class="form-control" value="@Html.DisplayFor(modelItem => Model.Id)">
              </div>
              <div class="form-group">
                <label for="inputTitulo">Título</label>
                <input type="text" Name="Title"  class="form-control" value="@Html.DisplayFor(modelItem => Model.Title)">
              </div>
              <div class="form-group">
                <label for="inputDescricao">Descrição</label>
                <textarea type="text" Name="Description" class="form-control" rows="4"> @Html.DisplayFor(modelItem => Model.Description)</textarea>
              </div>
              <!-- Date and time -->
              <div class="form-group">
                 <label for="dataInicio">Data de início</label>
                <div class="input-group date" id="datainicio">
                  <input type="text" Name="StartDate" class="form-control datetimepicker-input"  value="@Html.DisplayFor(modelItem => Model.StartDate)" >
                </div>
              </div>
              <div class="form-group">
                <label for="Fases">Quantidade de fases</label>
                <input type="text" Name="TotalPhases" class="form-control" value="@Html.DisplayFor(modelItem => Model.TotalPhases)">
              </div>
              <div class="row">
                <div class="col-12" align="right">
                  <a href="#" class="btn btn-secondary">Cancelar</a>
                  <button type="submit"  class="btn btn-success">Editar Campeonato</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
        <!-- /.card -->
    </div>
  </div>
</section>
