@model Championship_Internal_Front.Models.ChampionshipExternalDetailed

@{
    ViewData["Title"] = "GetChampionshipById";
}

<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-lg-6">
        <h1></h1>
        <p></p>
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Detalhes do Campeonato</h3>
          </div>
          <div class="card-body">
            <form asp-controller="ApiChampionship"  method="post">
              <div class="form-group">
                <label for="title">Título</label>
                @Html.DisplayFor(modelItem => Model.Title)
              </div>
              <div class="form-group">
                <label for="description">Descrição</label>
                @Html.DisplayFor(modelItem => Model.Description)
              </div>
              <div class="form-group">
                <label for="start_date">Data de Início</label>
                @Html.DisplayFor(modelItem => Model.StartDate)
              </div>
              <div class="form-group">
                <label for="total_phases">Data de Fim</label>
                @Html.DisplayFor(modelItem => Model.EndDate)
              </div>
              <div class="form-group">
                <label for="winnerid">Times na Competição</label>
                @Html.DisplayFor(modelItem => Model.Subscription)
              </div>
              <div class="col-12" align="right">                
                <div class="text-right">
                    <input type="text" Name="id" hidden="hidden" class="form-control" value="@Html.DisplayFor(modelItem => Model.Id)">
                    <input type="text" Name="title" hidden="hidden" class="form-control" value="@Html.DisplayFor(modelItem => Model.Title)">
                    <input type="text" Name="description" hidden="hidden" class="form-control" value="@Html.DisplayFor(modelItem => Model.Description)">
                    <input type="text" Name="startdate" hidden="hidden" class="form-control" value="@Html.DisplayFor(modelItem => Model.StartDate)">
                    <input type="text" Name="totalphases" hidden="hidden" class="form-control" value="@Html.DisplayFor(modelItem => Model.TotalPhases)">
                    @if(Model.Status == Championship_Internal_Front.Enums.ChampionshipStatusEnum.Created)
                    {
                        <input asp-action="StartChampionship" type="submit" value="Começar o Campeonato" class="btn btn-success">
                    }
                    else if(Model.Status == Championship_Internal_Front.Enums.ChampionshipStatusEnum.OnGoing)
                    {
                        <input asp-action="EndChampionship" type="submit" value="Finalizar o Campeonato" class="btn btn-danger">
                    }
                    <input asp-action="EditChampionship" type="submit" value="Editar Campeonato" class="btn btn-warning">
                    <input asp-action="DeleteChampionship" type="submit" value="Delete Campeonato" class="btn btn-danger">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    @foreach (var item in Model.Matchs)
    {
    <div class="row mb-2">
      
        <div class="col-lg-6">
        <h1></h1>
        <p></p>
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Detalhes da Partida: @Html.DisplayFor(modelItem => item.Name)</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="title"> Título do confronto: </label>
                @Html.DisplayFor(modelItem => item.Name)
              </div>
              <div class="form-group">
                <label for="description">Nome do Árbitro: </label>
                @Html.DisplayFor(modelItem => item.RefereeName)
              </div>
              <div class="form-group">
                <label for="start_date">Data de Início</label>
                @Html.DisplayFor(modelItem => item.StartDate)
              </div>
              <div class="form-group">
                <label for="total_phases">Total de Tickets para Venda: </label>
                @Html.DisplayFor(modelItem => item.TotalTickets)
              </div>
              <div class="form-group">
                <label for="winnerid">Tickets Vendidos: </label>
                @Html.DisplayFor(modelItem => item.SoldTickets)
              </div>
              <div class="form-group">
                <label for="timea">Time A: </label>
                @Html.DisplayFor(modelItem => item.TeamAName)
              </div>
              <div class="form-group">
                <label for="timeb">Time B: </label>
                @Html.DisplayFor(modelItem => item.TeamBName)
              </div>
              <div class="form-group">
                <label for="status">Status: </label>
                @Html.DisplayFor(modelItem => item.Status)
              </div>
              @if(item.RefereeName == "Sem juíz atribuido")
              {
                   <div class="text-right">
                        <input type="text" Name="idMatch" hidden="hidden" class="form-control" value="@Html.DisplayFor(modelItem => item.IdMatch)">
                        <input asp-controller="ApiUser" asp-action="RefereeList" type="submit" value="Adicionar um Juíz" class="btn btn-warning">
                    </div>
              }
             
            </form>
          </div>
        </div>
      </div>
      
    </div>
    }
   
    @if(Model.Ranking.Count() != 0)
    {
        <div class="row mb-2">
      <div class="col-lg-6">
        <h1></h1>
        <p></p>
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Ranking</h3>
          </div>
          <div class="card-body">
            @foreach (var team in Model.Ranking)
            {
            <form asp-controller="ApiChampionship" asp-action="AddChampionship" method="post">
              <div class="form-group">
                <label for="description">Nome do Time</label>
                @Html.DisplayFor(modelItem => team.Name)
              </div>
              <div class="form-group">
                <label for="start_date">Vitórias no Campeonato</label>
                @Html.DisplayFor(modelItem => team.Wins)
              </div>
            </form>
            <hr />
            }
          </div>
          
        </div>
      </div>
    </div>
    }
    

</section>

 @*             @for(int i = 0; i < @ViewBag.MatchList.Count(); i++)
    {
      foreach(var item in @ViewBag.MatchList[i ])
      {
            <div class="row mb-2">
      
        <div class="col-lg-6">
        <h1></h1>
        <p></p>
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Detalhes da Partida: item.Name</h3>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="title"> Título do confronto: </label>
                item.Name
              </div>
              <div class="form-group">
                <label for="description">Nome do Árbitro: </label>
                item.RefereeName
              </div>
              <div class="form-group">
                <label for="start_date">Data de Início</label>
              item.StartDate
              </div>
              <div class="form-group">
                <label for="total_phases">Total de Tickets para Venda: </label>
                item.TotalTickets
              </div>
              <div class="form-group">
                <label for="winnerid">Tickets Vendidos: </label>
                item.SoldTickets
              </div>
              <div class="form-group">
                <label for="timea">Time A: </label>
                item.TeamAName
              </div>
              <div class="form-group">
                <label for="timeb">Time B: </label>
                item.TeamBName
              </div>
              <div class="form-group">
                <label for="status">Status: </label>
                item.Status
              </div>
              @if(item.RefereeName == "Sem juíz atribuido")
              {
                   <div class="text-right">
                        <input type="text" Name="idMatch" hidden="hidden" class="form-control" value="item.IdMatch">
                        <input asp-controller="ApiUser" asp-action="RefereeList" type="submit" value="Adicionar um Juíz" class="btn btn-warning">
                    </div>
              }
             
            </form>
          </div>
        </div>
      </div>
      
      </div>
        }
    }*@