@model Championship_Internal_Front.Models.ChampionshipExternalDetailed

@{
    ViewData["Title"] = "GetChampionshipById";
}

<section class="content-wrapper">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-lg-6">
        <h1></h1>
        <p></p>
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Detalhes do Campeonato</h3>
          </div>
          <div class="card-body">
          <form asp-controller="ApiChampionship" asp-action="EditChampionship" method="get">
              <div class="form-group">
                <label for="title">Título</label>
                @Html.DisplayFor(modelItem => Model.Title)
              </div>
              <div class="form-group">
                <label for="description">Descrição</label>
                @Html.DisplayFor(modelItem => Model.Description)
              </div>
              <div class="form-group">
                <label for="start_date">Data de Início</label>
                @Html.DisplayFor(modelItem => Model.StartDate)
              </div>
              <div class="form-group">
                <label for="total_phases">Data de Fim</label>
                @Html.DisplayFor(modelItem => Model.EndDate)
              </div>
              <div class="form-group">
                <label for="winnerid">Times na Competição</label>
                @Html.DisplayFor(modelItem => Model.Subscription)
              </div>
              @*<div class="form-group">
                <label for="secondid">Segundo Lugar</label>
                <input contenteditable="false" type="text" class="form-control second" value="@Html.DisplayFor(modelItem => Model.Subscriptions)">
              </div>*@
              @*<div class="form-group">
                <label for="thirdid">Terceiro Lugar</label>
                <input contenteditable="false type="text" class="form-control third" value="@Html.DisplayFor(modelItem => Model.Subscriptions)">
              </div>*@
              <div class="col-12" align=right>
                
                
        
                    <div class="text-right">
                        <input type="text" Name="championship_id" hidden="hidden" class="form-control" value="@Html.DisplayFor(modelItem => Model.Id)">
                        <input asp-controller="ApiChampionship" asp-action="EditChampionship" type="submit" value="Editar Campeonato" class="btn btn-warning">
                        <a asp-controller="ApiChampionship" asp-action="DeleteChampionship" class="btn btn-danger">Deletar Campeonato</a>
                    </div>

                </form>
                
              </div>
        
          </div>
        </div>
      </div>
    </div>
    @foreach (var item in Model.Matchs)
    {
    <div class="row mb-2">
      
        <div class="col-lg-6">
        <h1></h1>
        <p></p>
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Detalhes da Partida: @Html.DisplayFor(modelItem => item.Name)</h3>
          </div>
          <div class="card-body">
            
            <form asp-controller="ApiChampionship" asp-action="AddChampionship" method="post">
              <div class="form-group">
                <label for="title"> Título do confronto: </label>
                @Html.DisplayFor(modelItem => item.Name)
              </div>
              <div class="form-group">
                <label for="description">Nome do Árbitro: </label>
                @Html.DisplayFor(modelItem => item.RefereeName)
              </div>
              <div class="form-group">
                <label for="start_date">Data de Início</label>
                @Html.DisplayFor(modelItem => item.StartDate)
              </div>
              <div class="form-group">
                <label for="total_phases">Total de Tickets para Venda: </label>
                @Html.DisplayFor(modelItem => item.TotalTickets)
              </div>
              <div class="form-group">
                <label for="winnerid">Tickets Vendidos: </label>
                @Html.DisplayFor(modelItem => item.SoldTickets)
              </div>
              <div class="form-group">
                <label for="timea">Time A: </label>
                @Html.DisplayFor(modelItem => item.TeamAName)
              </div>
              <div class="form-group">
                <label for="timeb">Time B: </label>
                @Html.DisplayFor(modelItem => item.TeamBName)
              </div>
              <div class="form-group">
                <label for="status">Status: </label>
                @Html.DisplayFor(modelItem => item.Status)
              </div>
            </form>
          </div>
        </div>
      </div>
      
    </div>
    }
    @foreach (var team in Model.Ranking)
    {
    <div class="row mb-2">
      <div class="col-lg-6">
        <h1></h1>
        <p></p>
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Detalhes do Time - @Html.DisplayFor(modelItem => team.Name)</h3>
          </div>
          <div class="card-body">
            <form asp-controller="ApiChampionship" asp-action="AddChampionship" method="post">
              <div class="form-group">
                <label for="description">Nome do Time</label>
                @Html.DisplayFor(modelItem => team.Name)
              </div>
              <div class="form-group">
                <label for="start_date">Vitórias no Campeonato</label>
                @Html.DisplayFor(modelItem => team.Wins)
              </div>
              
            </form>
        
          </div>
          
        </div>
      </div>
    </div>
    }
  </div>
</section>
